html, body{
    height: 100%;
}
body{
    background-color: #F3F5FC;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.column{
    margin-top: 20px;
    width: 25%;
}

.column-text{
    width: 65%;
}

.column-logo{
    width: 10%;
    margin-top: 20px;
}

.myText{
    border: none;
    width: 90%;
    height: 75%;
    display: block;
    resize: none;
    margin-top: 5rem;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
.myText:focus{
    outline: none;
}

.myText::placeholder{
    color: #0A3871;
}

.bg-result{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.29);
    width: 100%;
    height: 95%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 10px;
    
}

.center{
    padding: 3rem;
}

.muneco{
    width:90%; 
}

.p-1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;

color: #343A40;
}

.p-2{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #495057;
opacity: 0.8;
}

.constraint img{
    vertical-align: middle;
}
.constraint p{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
    margin-top: 0px;
}

.button{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius:28px;
    padding: 25px 0px;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: #bbc0c569;
    color: #0A3871;
}

.button-1{
    width: 40%;
}

.button-2{
    width: 40%;
    background-color: transparent;
    color: #0A3871;
    margin-left: 1rem;
}
.button-3{
    width: 100%;
    background-color: transparent;
    color: #0A3871;

}




.result{
    border: none;
    width: 100%;
    height: 88%;
    display: block;
    resize: none;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    margin-bottom: 1rem;
}
.result:focus{
    outline: none;
}

.container-result{
    height: 100%;
    width: 90%;
    display: none;
}

@media screen and (max-width:375px) {
  
    .column-text{
        width: 100%;
        height: 80% !important;
    }
    main{
        display: block;
    }
    .button{
        display: block;
    }

    .button-1, .button-2{
        width: 100% !important;
        margin-left: 0px;
    }
    .button-2{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .column-text{
        width: 100%;
        height: 50%;
    }
    .column{
        width: 100%;
        height: 50%;
    }
    .center{
        padding: 1rem;
    }
    main{
        display: block;
    }

    .muneco{
        display: none;
    }
    .p-1{
        font-size: 20px;
    }
    .p-2{
        font-size: 15px;
    }

    .bg-result{
        margin-left: 0px;
        padding: 0px;
        height: 100%
    }
    .myText{
        width: 100%;
        margin-top: 2rem;
    }

    .button-1, .button-2{
        width: 45%;
    }

    .result{
        height: 78%;

    }


}




