html, body{
    height: 100%;
}
body{
    background-color: #F3F5FC;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.column{
    margin-top: 20px;
    width: 25%;
}

.column-text{
    width: 65%;
}

.column-logo{
    width: 10%;
    margin-top: 20px;
}

.myText{
    border: none;
    width: 90%;
    height: 75%;
    display: block;
    resize: none;
    margin-top: 5rem;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
.myText:focus{
    outline: none;
}

.myText::placeholder{
    color: #0A3871;
}

.bg-result{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.29);
    width: 100%;
    height: 95%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 10px;
    
}

.center{
    padding: 3rem;
}

.muneco{
    width:90%; 
}

.p-1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;

color: #0A3871;
}

.p-2{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #495057;
opacity: 0.8;
}

.constraint img{
    vertical-align: middle;
}
.constraint p{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
    margin-top: 0px;
}

.button{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius:28px;
    padding: 25px 120px;
    color: white;
}

.button:hover{
    background-color: #bbc0c569;
    color: #0A3871;
}

.button-2{
    background-color: transparent;
    color: #0A3871;
    margin-left: 1rem;
}

.result{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
width: 300px;
height: 95%;
/* or 36px */


/* Gray/gray-400 */

color: #495057;
}




